@import "../../constants/constants";
@import "../../constants/mixin";

$horizontalPadding: 1em;

.footer {
  @include flexRowFull;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: $footer-height;
  padding: 0 $horizontalPadding 0 $horizontalPadding;
  background-color: $footerColor;
  color: $headerTextColor;
}